<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'index:index' %}">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'goods:list' %}">Список товаров</a>
  </li>
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbarDropdown"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          Разделы
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in categories_list %}
            <li>
              <a class="dropdown-item" href="{% url 'categories:category' category.id %}">{{ category.title }}</a>
            </li>
          {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'categories:categories' %}">Все</a></li>
        </ul>
      </li>
</ul>