{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>Список категорий товаров:</h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Товары в категории</th>
    </tr>
  </thead>
  <tbody>
  {% for category in category_list %}
    <tr>
      <td>{{ category.title }}</td>
      <td>
        {% for good in category.goods.all %}
          <p>{{ good.title }}</p>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}